* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $primary-color2 #221d17;
}
body {
  font-family: vollkorn, sans-serif;
  scroll-behavior: smooth;
  background-color: black;
}
.container {
  padding-right: 8vw;
  padding-left: 8vw;
  width: 100%;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 39px;
}

body::-webkit-scrollbar {
  width: 7.5px;
}

body::-webkit-scrollbar-track {
  background: #221d17;
}

body::-webkit-scrollbar-thumb {
  background: $primary-color2;
}