* {
  box-sizing: border-box;
}
body {
  font-family: vollkorn, sans-serif;
  scroll-behavior: smooth;
}
.container {
  padding-right: 8vw;
  padding-left: 8vw;
  width: 100%;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}