section {
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  .leftSide {
    background-color: $primary-color2;
    height: 100vh;
    width: 100%;
    flex: 0 0 50%;
  }
  .rightSide {
    background-image: url("../images/pattern.png");
    background-repeat: round;
    background-size: auto;
    box-shadow: inset 37px 0 19px -7px rgba(0,0,0,0.2);
    height: 100vh;
    width: 100%;
    flex: 0 0 50%;
    #RS4 {
      opacity: 0;
      width: 100%;
      height: 100%;
      #map {
        width: 100%;
        height: 100%;
      }
    }
  }
  .leftSectionContainer {
    height: 100%;
    width: auto;
    padding: 250px 8vw 0 8vw;
    opacity: 0;
    .sectionText {
      font-size: 26px;
    }
  }
  .rightSectionContainer {
    height: 100%;
    width: auto;
    padding: 180px 8vw 0 8vw;
    opacity: 0;
    img {
      border-radius: 8px;
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 16px $primary-color2;
    }
  }
}

@media (max-width: 950px) {
  section {
    flex-direction: column;
    .rightSide {
      box-shadow: inset 0 37px 19px -7px rgba(0,0,0,0.2);
      height: 100%;
      width: 100%;
      #RS4 {
        opacity: 1;
      }
    }
    .leftSectionContainer {
      height: 100vh;
      width: auto;
      padding: 50px 8vw 0 8vw;
      opacity: 1;
      .sectionText {
        font-size: 26px;
      }
    }
    .rightSectionContainer {
      height: 100%;
      width: auto;
      padding-top: 50px;
      padding-bottom: 50px;
      opacity: 1;
    }
  }
}